body {
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#canvas {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust the height based on the viewportStableHeight */
  object-fit: contain;
  z-index: 1;
}

#video {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust the height based on the viewportStableHeight */
  object-fit: contain;
  z-index: 0;
  border: 3px #fff solid;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0000ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

button:hover {
  background-color: #000099;
}
