body {
  background-color: #ff0000; /* Красный фон */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скрыть прокрутку, если контент выходит за пределы экрана */
}

.container {
  position: absolute;
  top: 10%; /* Отступ сверху 10%, что составляет 80% высоты */
  bottom: 10%; /* Отступ снизу 10% */
  left: 5%; /* Отступ слева 5%, что составляет 90% ширины */
  right: 5%; /* Отступ справа 5% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#videoб, #canvas {
  border: 3px #fff solid;
  border-radius: 10px;
  width: 100%; /* Ширина 100% относительно контейнера */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  max-height: 80%; /* Максимальная высота, чтобы оставить место для кнопки */
}
button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0000ff; /* Синий цвет */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #000099; /* Измененный цвет при наведении */
}
