/* Общие стили, применяемые ко всему документу */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ff4d4d; /* Красный мягкий фон */
    font-family: 'Arial', sans-serif;
    font-size: 100%; /* Устанавливаем базовый размер шрифта */
    color: white;
}

/* Стили для всех экранов */
.screen {
    display: none; /* Скрыты по умолчанию */
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Универсальный отступ */
    text-align: center;
    width: 100%; /* Позволяет экранам занимать всю ширину */
}

/* Стили для активного экрана */
.screen.active {
    display: flex;
    min-height: 100vh; /* Минимальная высота для поддержания полного экрана */
}

/* Стилизация логотипа */
.logo {
    font-size: 4vw; /* Относительный размер шрифта в зависимости от ширины экрана */
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
}

/* Стилизация кнопок */
button {
    background-color: #fff;
    color: #ff4d4d;
    border: none;
    padding: 1em 2em; /* Адаптивный отступ */
    margin-top: 1em; /* Отступ сверху */
    cursor: pointer;
    font-size: 4vw; /* Адаптивный размер шрифта */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ff6666;
    color: white;
}

/* Стилизация элементов мультимедиа */
video, #previewImage {
    max-width: 90%; /* Занимает максимум 90% ширины экрана */
    max-height: 50vh; /* И не более 50% высоты экрана */
    border: 3px solid white;
    border-radius: 10px;
}

/* Медиа-запросы для меньших экранов */
@media screen and (max-width: 480px) {
    .logo {
        font-size: 5vw; /* Увеличиваем размер шрифта для маленьких экранов */
    }

    button {
        font-size: 5vw; /* Увеличиваем размер шрифта кнопок */
    }
}
