body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4d4d; /* Красный мягкий фон */
    font-family: Arial, sans-serif;
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.screen.active {
    display: flex;
    justify-content: center; /* Центрируем содержимое на мобильных устройствах */
}

.logo {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

button {
    background-color: #fff;
    color: #ff4d4d;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ff6666;
    color: white;
}

video {
    max-width: 100%;
    border: 5px solid white;
    border-radius: 10px;
}

#previewImage {
    max-width: 100%;
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Медиа-запросы для адаптации к мобильным устройствам */
@media screen and (max-width: 768px) {
    /* Стили для устройств с шириной экрана до 768px */
    body, html {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .screen {
        padding: 10px;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 10px;
    }

    button {
        padding: 8px 16px;
        margin-top: 10px;
        font-size: 16px;
    }
}

/* Медиа-запросы для адаптации к меньшим мобильным устройствам, например, 480px */
@media screen and (max-width: 480px) {
    /* Стили для устройств с шириной экрана до 480px */
    body, html {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .screen {
        padding: 5px;
    }

    .logo {
        font-size: 18px;
        margin-bottom: 8px;
    }

    button {
        padding: 6px 12px;
        margin-top: 8px;
        font-size: 14px;
    }

    video, #previewImage {
        border-width: 2px;
    }
}
